<style>
    .read{

    }

    .notRead{
        background-color: #DFF0D8!important;
        font-weight: bold;
    }
</style>
<div ng-controller="cmsController" class="row">
    <div class="row">

        <div >
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="{{activeClass['articles']}}">
                    <a style="font-family: LiberationSans, arial, sans-serif!important;line-height: 140%!important;cursor: pointer;color:#000000;" href="#/cms/articles" aria-controls="articles" role="tab" data-toggle="tab" ng-click="toggleableCMSTab(0)">
                        <i class="fa fa-file-text-o"></i>
                        &nbsp; Articles
                    </a>
                </li>
                <li role="presentation" class="{{activeClass['menus']}}">
                    <a  style="font-family: LiberationSans, arial, sans-serif!important;line-height: 140%!important;cursor: pointer;color:#000000;" href="#/cms/menus/"  aria-controls="profile" role="tab" data-toggle="tab" ng-click="toggleableCMSTab(1)">
                        <i class="fa fa-list"></i>
                        &nbsp; Home Page Menus
                    </a>
                </li>
                <li role="presentation" class="{{activeClass['messages']}}">
                    <a  style="font-family: LiberationSans, arial, sans-serif!important;line-height: 140%!important;cursor: pointer;color:#000000;" href="#/cms/messages/" aria-controls="messages" role="tab" data-toggle="tab" ng-click="toggleableCMSTab(2)">
                        <i class="fa fa-envelope-o"> &nbsp; Messages</i>
                    </a>
                </li>
                <li role="presentation" class="{{activeClass['information']}}">
                    <a  style="font-family: LiberationSans, arial, sans-serif!important;line-height: 140%!important;cursor: pointer;color:#000000;" href="#/cms/information/" aria-controls="settings" role="tab" data-toggle="tab" ng-click="toggleableCMSTab(3)">
                        <i class="fa fa-th-large"> &nbsp; Information Sharing</i>
                    </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane {{activeClass['articles']}}" id="articles">

                    <!--ARTICLES NAVIGATION TABS-->
                    <ul id="tabs">
                    <li id="{{tabs[$index].active}}" ng-repeat="tab in tabs track by $index" ><a  style="cursor: pointer;"  id="id_{{tab.value}}" ng-click="toggleableTab($index,tab)" style="font-family: LiberationSans, arial, sans-serif!important;line-height: 140%!important;"><em>{{tab.value}}</em></a></li>
                    </ul>

                    <div class="tab-content" id="content">
                        <!-- ARTICLE FORM CONTAINER-->
                        <div class="row " id="article_form_container">
                            <div class="btn-group  pull-left">
                                <a class="btn btn-default btn-sm new_article" id="new_article" ng-click="getNewArticleForm()" title="Add New"><i class="fa fa-plus"></i>&nbsp;Add New</a>
                            </div>
                            <!-- Add article form -->
                            <div ng-show="showAddForm">
                                <br/>
                                <br/>
                                <form ng-submit="addArticle(category,content)">
                                    <div class="form-group">
                                        <div ckeditor="options" ng-model="content" ready="onReady()"></div>
                                    </div>
                                    <select class="btn btn-default" id="add_picked_cat" ng-model="category" required="required">
                                        <option selected="selected" disabled="disabled" name="origin">Select Category</option>
                                        <option ng-repeat="tab in tabs">{{tab.value}}</option>
                                    </select>
                                    <button type="submit" class="btn btn-default" >Add Item</button>
                                    <button type="button" class="btn btn-danger" ng-click="cancelAddArticle()">Cancel</button>
                                </form>
                            </div>
                            <!-- Edit article form -->
                            <div ng-show="showEditForm">
                                <br/>
                                <br/>
                                <form ng-submit="updateArticle(category,editedContent)">
                                    <div class="form-group">
                                        <div ckeditor="options" ng-model="editedContent" ready="onReady()"></div>
                                    </div>
                                    <select class="btn btn-default" id="update_picked_cat" ng-model="category" required="required">
                                        <option selected="selected" disabled="disabled" name="origin">Select Category</option>
                                        <option ng-repeat="tab in tabs">{{tab.value}}</option>
                                    </select>
                                    <button type="submit" class="btn btn-default" >Update Item</button>
                                    <button type="button" class="btn btn-danger" ng-click="cancelAddArticle()">Cancel</button>
                                </form>
                            </div>
                        </div>


                    <div class="row {{tab.content}}" id="tab1" ng-repeat="tab in tabs track by $index" ng-show="!showAddForm&&!showEditForm">
                        <!-- TAB CONTENT CONTAINER-->
                        <div class="row " ng-repeat="content in tabContents track by $index" ng-if="content.menu==tab.value" >
                    <div >
                        <!-- ARTICLE CONTROL BUTTONS-->
                        <div class="btn-group  pull-right">
                            <a class="btn btn-default btn-sm " ng-click="getEditArticleForm(content)" title="Edit" style="color:orange;"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-default btn-sm "  title="Hide"><i class="fa fa-minus"></i></a>
                            <a class="btn btn-default btn-sm " title="make it top" style="color:green;"><i class="fa fa-arrow-up"></i></a>
                            <a class="btn btn-default btn-sm "  title="Delete" style="color:red;"><i class="fa fa-times"></i></a>
                        </div>
                        <br/>
                        <br/>
                    </div>
                    <div  class="col-md-12  conteiner" ng-bind-html="content.content">

                    </div>
                    </div>
                    </div>

                    </div>

                </div>
                <div role="tabpanel" class="tab-pane {{activeClass['menus']}}" id="menus">

                    <br/>
                        <div class="btn-group  pull-left" ng-if="!newMenuForm">
                            <a class="btn btn-default btn-md " title="add new menu" ng-click="newMenu()"><i class="fa fa-plus"></i>&nbsp;Add Menu</a>
                        </div>
                    <!-- Tab menus-->
                    <br/>
                    <br/>
                    <br/>
                    <div id="newMenuForm" ng-if="newMenuForm">
                        <h4>Adding Menu Name </h4>
                        <form ng-submit="saveMenu(add_menu_name)" >
                            <div class="form-group">
                                <label for="menu_name">Menu Name</label>
                                <input type="text" class="form-control" id="menu_name" ng-model="add_menu_name"  placeholder="Menu Name" required="required">
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" ng-click="cancelSaveMenu()" class="btn btn-danger">Cancel</button>
                        </form>
                    </div>

                    <div id="editMenuForm" ng-if="editMenuForm">
                        <h4>Updating Menu Name: <span style="font-weight:bolder;">{{update_menu_name}}</span> </h4>
                        <form ng-submit="updateMenu(update_menu_name)">
                            <div class="form-group">
                                <label for="edit_menu_name">Menu Name</label>
                                <input type="text" class="form-control" id="edit_menu_name" ng-model="update_menu_name" placeholder="Menu Name">
                            </div>
                            <button type="submit"  class="btn btn-warning">Update</button>
                            <button type="button" ng-click="cancelUpdateMenu()" class="btn btn-danger">Cancel</button>
                        </form>
                    </div>
                    <table class="table table-bordered table-condensed table-responsive" ng-show="!editMenuForm&&!newMenuForm">
                        <thead>
                            <tr><th>Menu Name</th><th style="width:200px!important;">Action</th></tr>
                        </thead>
                        <thead>
                            <tr ng-repeat="tab in tabs track by $index">
                                <td>{{tab.value}}</td>
                                <td>
                                    <a ng-click="editMenu(tab)" class="btn btn-default btn-md "><i class="fa fa-pencil"></i></a>
                                    <a ng-click="deleteTab(tab)" class="btn btn-default btn-md "><i class="fa fa-times alert-danger" ></i></a>
                                </td>
                            </tr>
                        </thead>

                    </table>



                </div>
                <div role="tabpanel" class="tab-pane {{activeClass['messages']}}" id="messages">
                    <br/>
                    <h4 style="font-family: LiberationSans, arial, sans-serif!important;line-height: 140%!important;">Message Broadcasts</h4>
                    <br/>
                    <div class="btn-group  pull-left" ng-show="!newBroadCastForm&&!editBroadCastForm">
                        <a class="btn btn-default btn-md " title="Add Message" ng-click="newMessageForm()"><i class="fa fa-plus"></i>&nbsp;Add Message</a>
                    </div>
                    <br/>
                    <!-- Tab menus-->
                    <br/>
                    <table class="table table-bordered" ng-show="!newBroadCastForm&&!editBroadCastForm&&messages&&(first_message||second_message)" style="font-family: LiberationSans, arial, sans-serif!important;line-height: 140%!important;">
                        <thead>
                            <tr>
                                <th>
                                   Broadcast
                                </th>
                                <th>
                                   Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="!hideFirstMessage&&first_message">
                                <td>{{first_message}}</td>
                                <td>
                                    <div class="btn-group  pull-left" >
                                        <a class="btn btn-default btn-sm " title="Edit " ng-click="editMessageForm('first')"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
                                        <a class="btn btn-default btn-sm " title="Hide " ng-click="hideMessage('first')"><i class="fa fa-stop  alert-warning"></i>&nbsp;Hide</a>
                                        <a class="btn btn-default btn-sm " title="Delete" ng-click="deleteMessage('first')" style="color:red;"><i class="fa fa-times"></i>&nbsp;Delete</a>
                                    </div>
                                </td>
                            </tr>

                            <tr ng-show="hideFirstMessage&&first_message">
                                <td>{{first_message}}</td>
                                <td>
                                    <div class="btn-group  pull-left" >
                                        <a class="btn btn-default btn-sm " title="Edit " ng-click="editMessageForm('first')"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
                                        <a class="btn btn-default btn-sm " title="Hide " ng-click="unHideMessage('first')"><i class="fa fa-ok  alert-primary"></i>&nbsp;Show</a>
                                        <a class="btn btn-default btn-sm " title="Delete" ng-click="deleteMessage('first')" style="color:red;"><i class="fa fa-times"></i>&nbsp;Delete</a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="!hideSecondMessage&&second_message">
                                <td>{{second_message}}</td>
                                <td>
                                    <div class="btn-group  pull-left">
                                    <a class="btn btn-default btn-sm " title="Edit " ng-click="editMessageForm('second')"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
                                    <a class="btn btn-default btn-sm " title="Hide " ng-click="hideMessage('second')"><i class="fa fa-stop  alert-warning"></i>&nbsp;Hide</a>
                                    <a class="btn btn-default btn-sm " title="Delete" ng-click="deleteMessage('second')" style="color:red;"><i class="fa fa-times"></i>&nbsp;Delete</a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="hideSecondMessage&&second_message">
                                <td>{{second_message}}</td>
                                <td>
                                    <div class="btn-group  pull-left">
                                    <a class="btn btn-default btn-sm " title="Edit " ng-click="editMessageForm('second')"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
                                    <a class="btn btn-default btn-sm " title="Hide " ng-click="unHideMessage('second')"><i class="fa fa-ok  alert-primary"></i>&nbsp;Show</a>
                                    <a class="btn btn-default btn-sm " title="Delete" ng-click="deleteMessage('second')" style="color:red;"><i class="fa fa-times"></i>&nbsp;Delete</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="alert alert-warning" ng-if="!newBroadCastForm&&!editBroadCastForm&&!messages&&!second_message&&!first_message">No Broadcast added, click button above to add</p>
                    <form class="form-horizontal" ng-show="newBroadCastForm" ng-submit="sendMessage(first_sms,second_sms)">

                    <div class="form-group">
                    <label for="message_one" class="col-sm-1 control-label">Message</label>
                    <div class="col-sm-11">
                    <textarea class="form-control" rows="3" id="sms_one" ng-model="first_sms" placeholder="Message 1" maxlength="150" required></textarea>
                    </div>
                    </div>
                    <div class="form-group">
                    <label for="message_two" class="col-sm-1 control-label">Message </label>
                    <div class="col-sm-11">
                    <textarea class="form-control" rows="3" id="sms_two" ng-model="second_sms" placeholder="Message 2" maxlength="150" required></textarea>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-1">
                    <button type="submit" class="btn btn-success" ><i class="glyphicon glyphicon-send"></i>&nbsp;Send</button>
                    </div>
                    <div class="col-sm-1">
                    <button type="button" class="btn btn-danger" ng-click="cancelMessageSend()">Cancel</button>
                    </div>
                    </div>

                    </form>
                    <form class="form-horizontal" ng-show="editBroadCastForm" ng-submit="sendMessage(first_message,second_message)">

                    <div class="form-group" ng-show="firstEdit">
                    <label for="message_one" class="col-sm-1 control-label">Message </label>
                    <div class="col-sm-11">
                    <textarea class="form-control" rows="3" id="message_one" ng-model="first_message" placeholder="Message 1" maxlength="150" required></textarea>
                    </div>
                    </div>
                    <div class="form-group" ng-show="secondEdit">
                    <label for="message_two" class="col-sm-1 control-label">Message 2</label>
                    <div class="col-sm-11">
                    <textarea class="form-control" rows="3" id="message_two" ng-model="second_message" placeholder="Message 2" maxlength="150" required></textarea>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-1">
                    <button type="submit" class="btn btn-success" ><i class="glyphicon glyphicon-send"></i>&nbsp;Send</button>
                    </div>
                    <div class="col-sm-1">
                    <button type="button" class="btn btn-danger" ng-click="cancelMessageSend()">Cancel</button>
                    </div>
                    </div>

                    </form>


                    <!--<div class="row">-->
                        <!--<br/>-->
                        <!--<div class="col-md-12">-->
                            <!--<div class="btn-group  pull-left" ng-show="!newMessageForm">-->
                                <!--<a class="btn btn-default btn-sm " title="Create New" ng-click="showNewMessageForm()"><i class="fa fa-edit"></i>&nbsp;New</a>-->
                                <!--<a class="btn btn-default btn-sm " title="Mark all for Followp"><i class="glyphicon glyphicon-star"></i> FollowUp</a>-->
                                <!--<a class="btn btn-default btn-sm " title="Mark as read" ><i class="fa fa-folder-open"></i> Mark as Read</a>-->
                                <!--<a class="btn btn-default btn-sm " title="Delete" style="color:red;"><i class="fa fa-times"></i>&nbsp;Delete All</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<br/>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-12 col-sm-12" ng-show="newMessageForm">-->
                            <!--<form class="form-horizontal" >-->
                                <!--<div class="form-group">-->
                                    <!--<label for="sendto" class="col-sm-1 control-label">Send To</label>-->
                                    <!--<div class="col-sm-11" >-->
                                       <!--<p style="color:red;font-weight: bold" ng-if="errorMessage"> {{alertMessageForMissingUser}}</p>-->
                                        <!--<div class="form-control">-->
                                            <!--<isteven-multi-select-->
                                                    <!--input-model="_users"-->
                                                    <!--output-model="selectedUsers"-->
                                                    <!--button-label="icon displayName"-->
                                                    <!--item-label="icon displayName maker"-->
                                                    <!--tick-property="ticked"-->
                                            <!--&gt;-->
                                            <!--</isteven-multi-select>-->
                                        <!--</div>-->

                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label for="subject" class="col-sm-1 control-label">Subject</label>-->
                                    <!--<div class="col-sm-11">-->
                                        <!--<input type="text" class="form-control" id="subject" ng-model="subject" placeholder="Subject" required>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label for="body" class="col-sm-1 control-label">Body</label>-->
                                    <!--<div class="col-sm-11">-->
                                        <!--<textarea class="form-control" rows="3" id="body" ng-model="body" placeholder="Body" required></textarea>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<div class="col-sm-offset-1 col-sm-1">-->
                                        <!--<button type="submit" class="btn btn-success" ng-click="sendMessage(selectedUsers,subject,body)"><i class="glyphicon glyphicon-send"></i>&nbsp;Send</button>-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-1">-->
                                        <!--<button type="button" class="btn btn-danger" ng-click="cancelMessageSend()">Cancel</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; Listing Email list &ndash;&gt;-->
                        <!--<div class="col-sm-12" ng-show="!newMessageForm">-->
                            <!--<table class="table  table-responsive table-condensed table-bordered" datatable="ng">-->
                                <!--<thead>-->
                                <!--<tr class="header">-->
                                    <!--<th style="width:20px!important;">#</th>-->
                                    <!--<th style="">Sender</th>-->
                                    <!--<th style="">Subject</th>-->
                                    <!--<th style="">Date</th>-->
                                    <!--<th style="width:100px!important;">Action</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                <!--<tr ng-repeat="message in messages" ng-class="messageStatus(message.read)" >-->
                                    <!--<td>{{$index+1}}</td>-->
                                    <!--<td>{{message.userFirstname}} {{message.userSurname}}</td>-->
                                    <!--<td>{{message.subject}}</td>-->
                                    <!--<td>{{message.created}}</td>-->
                                    <!--<td style="text-align: left;">-->
                                        <!--<a style="cursor:pointer;"  title="Mark for FollowUp" ng-click="followUpMessage(message)" ng-show="!message.followUp"><i class="fa fa-star-o "></i></a>-->
                                        <!--<a style="cursor:pointer;"  title="Un Mark for FollowUp" ng-show="message.followUp"><i class="fa fa-star "></i></a>-->
                                        <!--&nbsp;-->
                                        <!--<a style="cursor:pointer;" ng-show="!message.read" title="read" ng-click="readMessage(message)"><i class="fa fa-folder  "></i> </a>-->
                                        <!--<a style="cursor:pointer;" ng-show="message.read" title="read" ng-click="readMessage(message)"><i class="fa fa-folder-open  "></i> </a>-->
                                        <!--&nbsp;-->
                                        <!--<a style="cursor:pointer;"  title="delete" ng-click="deleteMessage(message)"><i class="fa fa-trash  alert-danger"></i> </a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->

                </div>
                <div role="tabpanel" class="tab-pane {{activeClass['information']}}" id="information">

                </div>
            </div>

        </div>





    </div>


</div>
