.navbar-inverse {
  background-color: #457B49 !important;
  border-color: #457B49 !important;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff !important;
}
.navbar-inverse .navbar-brand {
  color: #fff !important;
}
