<div class="row " >
    <br/>
    <br/>
    <div  class="col-md-12">
    <div class="btn-group  pull-left" ng-show="messages.length<2">
        <a class="btn btn-default btn-sm new_article" id="new_article" href="#/messages/action/add" title="Add New"><i class="fa fa-plus"></i>&nbsp;Add New</a>
    </div>
    </div>
    <br/>
    <br/>
    <div  class="col-md-12">
        <ng-include src="'views/partials/forms/message_list.html'" ng-show="message_action=='list'">

        </ng-include>

        <ng-include src="'views/partials/forms/add_message_form.html'" ng-show="message_action=='add'">

        </ng-include>

        <ng-include src="'views/partials/forms/edit_message_form.html'" ng-show="message_action=='edit'">

        </ng-include>
    </div>

</div>