
<div class="row">

    <div class="tab-content" id="content">
        <div class="row " ng-repeat="content in tabContents" ng-show="content.menu==currentTabCapitaize">
            <div >
                <div  class="col-md-12  conteiner" ng-bind-html="content.content" >

                </div>
            </div>
        </div>

        <div class="row " ng-repeat="content in tabContents" ng-show="currentTabCapitaize=='All'">
            <div >
                <div  class="col-md-12  conteiner" ng-bind-html="content.content" >

                </div>
            </div>
        </div>

    </div>

</div>


