
<div ng-repeat="content in tabContents  | orderBy:'order'" ng-show="content.category==currentSubTabCapitalize" class="col-md-12">
    <div  class="col-md-12 conteiner" >
            <br/>
            <div class="btn-group  pull-right">

                <a class="btn btn-default btn-sm " href="#/articles/sub/{{currentSubTab}}/action/edit/{{content.id}}" title="Edit" style="color:orange;"><i class="fa fa-edit"></i></a>
                <a class="btn btn-default btn-sm " ng-show="content.shown" title="Hide" ng-click="hideArticle($index)"><i class="fa fa-minus"></i></a>
                <a class="btn btn-default btn-sm " ng-show="!content.shown" title="Shown" ng-click="hideArticle($index)"><i class="fa fa-plus"></i></a>
                <a class="btn btn-default btn-sm " title="make it top" style="color:green;" ng-click="makeTopArticle(tabContents,$index)"><i class="fa fa-arrow-up"></i></a>
                <a class="btn btn-default btn-sm "  title="Delete" style="color:red;"  ng-click="deleteContent($index)"><i class="fa fa-times"></i></a>
            </div>
            <div ng-bind-html="content.content"></div>
    </div>

</div>

<div  ng-repeat="content in tabContents  | orderBy:'order'" ng-show="currentSubTabCapitalize=='All'" class="col-md-12">
        <div  class="col-md-12  conteiner"  >
            <br/>
            <div class="btn-group  pull-right">
                <a class="btn btn-default btn-sm " href="#/articles/sub/{{currentSubTab}}/action/edit/{{$index}}" title="Edit" style="color:orange;"><i class="fa fa-edit"></i></a>
                <a class="btn btn-default btn-sm " ng-show="content.shown" title="Hide" ng-click="hideArticle($index)"><i class="fa fa-minus"></i></a>
                <a class="btn btn-default btn-sm " ng-show="!content.shown" title="Shown" ng-click="hideArticle($index)"><i class="fa fa-plus"></i></a>
                <a class="btn btn-default btn-sm " title="make it top" style="color:green;" ng-click="makeTopArticle(tabContents,$index)"><i class="fa fa-arrow-up"></i></a>
                <a class="btn btn-default btn-sm "  title="Delete" style="color:red;" ng-click="deleteContent($index)"><i class="fa fa-times"></i></a>
            </div>
            <div ng-bind-html="content.content"></div>
        </div>
</div>