<div class="panel-group" id="accordion" ng-controller="cmsController" >
    <div id="leftBar" >
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="parent_menu">
                    Data Analysis
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <div class="accordion" id="accordion1">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <h6 class="panel-title" style="padding: 5px 5px;font-size: 10pt">
                                        <a class="text-success accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOneItem0">
                                            <i class="fa fa-chevron-circle-down pull-right"></i>
                                            Agriculture
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseOneItem0" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li style="padding: 8px 4px" class="menuitem listmenu" allstring="Eneo, Aina na Misimu ya Ulimaji">
                                                <a style="padding-left: 0px; padding-right: 0px" href="#" id="juMoj5O4Qw9" class="text-success">
                                                    Eneo, Aina na Misimu...
                                                    <i class="fa fa-chevron-right pull-right"></i>
                                                </a>
                                            </li>
                                            <li style="padding: 8px 4px" class="menuitem listmenu" allstring="Hali ya Chakula Vijijini">
                                                <a style="padding-left: 0px; padding-right: 0px" href="#" id="ZuznHGcadLF" class="text-success">
                                                    Hali ya Chakula Viji...
                                                    <i class="fa fa-chevron-right pull-right"></i>
                                                </a>
                                            </li>
                                            <li style="padding: 8px 4px" class="menuitem listmenu" allstring="Maeneo ya Kilimo">
                                                <a style="padding-left: 0px; padding-right: 0px" href="#" id="kjvvizACdYm" class="text-success">
                                                    Maeneo ya Kilimo...
                                                    <i class="fa fa-chevron-right pull-right">

                                                    </i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <h6 class="panel-title" style="padding: 5px 5px;font-size: 10pt">
                                        <a class="text-success accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOneItem1">
                                            <i class="fa fa-chevron-circle-down pull-right"></i>
                                            Livestock</a>
                                    </h6>
                                </div>
                                <div id="collapseOneItem1" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li style="padding: 8px 4px" class="menuitem listmenu" allstring="Idadi ya Wanyama">
                                                <a style="padding-left: 0px; padding-right: 0px" href="#" id="YTsHSYChmaD" class="text-success">
                                                    Idadi ya Wanyama...
                                                    <i class="fa fa-chevron-right pull-right"></i>
                                                </a>
                                            </li>
                                            <li style="padding: 8px 4px" class="menuitem listmenu" allstring="Malisho ya mifugo">
                                                <a style="padding-left: 0px; padding-right: 0px" href="#" id="I5IeZCrQMmk" class="text-success">
                                                    Malisho ya mifugo...
                                                    <i class="fa fa-chevron-right pull-right"></i>
                                                </a>
                                            </li>
                                            <li style="padding: 8px 4px" class="menuitem listmenu" allstring=" usajili wa mifugo">
                                                <a style="padding-left: 0px; padding-right: 0px" href="#" id="Ho6EFvEsMbi" class="text-success">
                                                    usajili wa mifugo...
                                                    <i class="fa fa-chevron-right pull-right"></i>
                                                </a>
                                            </li>
                                            <li style="padding: 8px 4px" class="menuitem listmenu" allstring="Wanyama Waliosajiliwa">
                                                <a style="padding-left: 0px; padding-right: 0px" href="#" id="bq1OGf3fz5i" class="text-success">
                                                    Wanyama Waliosajiliw...
                                                    <i class="fa fa-chevron-right pull-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <h6 class="panel-title" style="padding: 5px 5px;font-size: 10pt">
                                        <a class="text-success accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOneItem2">
                                            <i class="fa fa-chevron-circle-down pull-right"></i>
                                            Fishery
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseOneItem2" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li style="padding: 8px 4px" class="menuitem listmenu" allstring="Nyavu Kwaajili ya Uvuvi">
                                                <a style="padding-left: 0px; padding-right: 0px" href="#" id="fBt6sgb1dok" class="text-success">
                                                    Nyavu Kwaajili ya Uv..
                                                    <i class="fa fa-chevron-right pull-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <h6 class="panel-title" style="padding: 5px 5px;font-size: 10pt">
                                        <a class="text-success accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOneItem3">
                                            <i class="fa fa-chevron-circle-down pull-right"></i>
                                            Trade
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseOneItem3" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <ul class="nav nav-pills nav-stacked"><li style="padding: 8px 4px" class="menuitem listmenu" allstring="Mahitaji ya mbolea kwa mwaka">
                                            <a style="padding-left: 0px; padding-right: 0px" href="#" id="uOKyAdlzt5V" class="text-success">
                                                Mahitaji ya mbolea k...
                                                <i class="fa fa-chevron-right pull-right"></i>
                                            </a>
                                        </li>
                                        <li style="padding: 8px 4px" class="menuitem listmenu" allstring="Masalia ya Mazao">
                                            <a style="padding-left: 0px; padding-right: 0px" href="#" id="sSrRz3spEKM" class="text-success">
                                                Masalia ya Mazao...
                                                <i class="fa fa-chevron-right pull-right"></i>
                                            </a>
                                        </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <h6 class="panel-title" style="padding: 5px 5px;font-size: 10pt">
                                        <a class="text-success accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOneItem4">
                                            <i class="fa fa-chevron-circle-down pull-right"></i>
                                            General Information
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseOneItem4" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li style="padding: 8px 4px" class="menuitem listmenu" allstring="Huduma za radio na TV">
                                                <a style="padding-left: 0px; padding-right: 0px" href="#" id="q3OlIGLQfoQ" class="text-success">
                                                    Huduma za radio na T...
                                                    <i class="fa fa-chevron-right pull-right"></i>
                                                </a>
                                            </li>
                                            <li style="padding: 8px 4px" class="menuitem listmenu" allstring="Huduma za simu za Mikononi">
                                                <a style="padding-left: 0px; padding-right: 0px" href="#" id="d3PvgE5rehZ" class="text-success">
                                                    Huduma za simu za Mi...
                                                    <i class="fa fa-chevron-right pull-right"></i>
                                                </a>
                                            </li>
                                            <li style="padding: 8px 4px" class="menuitem listmenu" allstring="Training">
                                                <a style="padding-left: 0px; padding-right: 0px" href="#" id="lc22MvdEntb" class="text-success">
                                                    Training...
                                                    <i class="fa fa-chevron-right pull-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="parent_menu">
                    Documents
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">

                <ul class="nav nav-pills nav-stacked list-group document_panel">
                </ul>

                <br>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="parent_menu">
                    Links
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked list-group" style=" margin-left: 0;padding: 0em;text-indent: -0.1em;font-size:9pt;">
                    <li class="list-group-item" style="padding:0px 0px !important;" ng-repeat="link in externalLinks">
                        <a target="_blank" href="{{link.url}}" class="text-success">
                            <i class="fa fa-globe"></i>&nbsp;&nbsp;{{link.name}}</a>
                    </li>



                </ul>
            </div>
        </div>
    </div>
    </div>
</div>