<div ng-controller="cmsController">
    <div class="row">
        <div class="col-md-12 menu_conteiner">
            <br/>
            <div >
                {{$parent.hideFirstMessage}}
                <div style="font-family: LiberationSans, arial, sans-serif;line-height: 140%;">
                    <p ng-show="!$parent.hideFirstMessage&&first_message" style="border-bottom: 1px solid #cccccc;">
                            <span  >
                                {{first_message}}
                            </span>&nbsp;
                        <br/>
                        <br/>
                    </p>

                    <p ng-show="!$parent.hideFirstMessage&&second_message" style="font-family: LiberationSans, arial, sans-serif;line-height: 140%;">
                        {{second_message}}&nbsp;
                    </p>

                </div>

            </div>
            <!--<p class="alert alert-warning" ng-show="!messages">No Broadcast added, click button above to add</p>-->

            <div ng-if="!messages" ><img src="images/chartloader.gif" style="width:50px;margin-left: 40%;margin-top: -100px;"><span style="width:50px;margin-left: 40%;margin-top: -100px;"> loading ..</span></div>
            &nbsp;
    </div>
        </div>
    <br/>
    <div class="row">
        <div class="col-md-12 menu_conteiner" >
            <div class="row">
                <div style="text-align: center;font-family: LiberationSans, arial, sans-serif;line-height: 140%;"><b> <u>Favourites Charts</u> </b></div><br/>
            </div>
            <div ng-if="!charts"><img src="images/chartloader.gif" style="width:50px;margin-left: 40%;"><span style="width:50px;margin-left: 40%;margin-top: -100px;"> loading ..</span></div>
            <div  ng-repeat="chart in charts" ng-if="charts&&$index<3"><a href="/dhis-web-visualizer/index.html?id={{chart.id}}" target="_blank" ><img src="/api/charts/{{chart.id}}/data?width=210&amp;height=250" title="Click to explore "></a><br/></div>

        </div>

    </div>

</div>
<style>
    #chart1{
        height:300px!important;
    }
</style>