<div style="margin-top: 10px">
  <table class="table table-bordered table-hover table-condensed" *ngIf="(menuList&&menuList.length>0)&&!actionLoading">
    <thead>
    <tr>
      <th style="width: 50px!important;">#</th>
      <th>Menu</th>
      <th style="width: 100px!important;">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let menu of menuList; let i = index" style="cursor: pointer">
      <th>{{i+1}}</th>
      <td>{{menu}}</td>
      <td>
        <div class="btn-group pull-right">
          <button type="button" style="color:orange;" (click)="editHomeMenu(menu)" class="btn btn-default btn-sm">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" style="color:red;" (click)="deleteHomeMenu(menu)" class="btn btn-default btn-sm">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="(!menuList||menuList==[])&&!actionLoading">
    <div class="alert alert-info" role="alert">
      <strong><i class="fa fa-warning"></i></strong> The list is empty no menu available, click <span
      style="font-weight:bold">Add new</span> button to create new menu.
    </div>
  </div>
  <div *ngIf="actionLoading">
    <div class="alert alert-info" role="alert">
      <img [ngStyle]="{height:'30px'}" src="assets/img/balls-5.svg" alt="">&nbsp; {{actionLoadingMessage}}
    </div>
  </div>
</div>
