<div class="conteiner">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="btn-group pull-right">
        <button type="button"  style="color:orange;" (click)="editArticle(article)"  class="btn btn-default">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" style="color:black;"  class="btn btn-default">
          <i class="fa fa-minus"></i>
        </button>
        <button type="button" style="color:green;"  class="btn btn-default">
          <i class="fa fa-arrow-up"></i>
        </button>
        <button type="button" style="color:red;" class="btn btn-default">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
  <div [innerHTML]="article.content"></div>
</div>

