
<cms-tabs ng-if="!showAnalysis"
        current-tab="currentTab"
        home-page-tab-object="tabsLinks"
        home-page-tab-content-object="tabContents"
        available-messages="messages"
></cms-tabs>

<div ng-show="currentTab=='articles' && !showAnalysis" ng-include="'views/partials/cmsArticleContent.html'"></div>
<div ng-show="currentTab=='home page menus' && !showAnalysis" ng-include="'views/partials/cmsMenuContent.html'"></div>
<div ng-show="currentTab=='messages' && !showAnalysis" ng-include="'views/partials/cmsMessagesContent.html'"></div>
<div ng-show="currentTab=='information sharing' && !showAnalysis" ng-include="'views/partials/cmsSharingContent.html'"></div>

