<span id="showLeftBar" class="hideInPrints" style="margin-top: 20px;">
    <a href="javascript:dhis2.leftBar.showAnimated()" title="$i18n.getString('show_menu' )"><i class="fa fa-arrow-right leftBarIcon"></i></a>
</span>

<div id="leftBar" style="width:240px!important;">

    <div id="leftContainer" style="height:100%;">

        <cms-left-menu report-tables="analysis" style="padding-bottom: 60px"></cms-left-menu>

    </div>

</div>


<div class="page "  id="mainPage" style="margin-left: 270px;">
<br/>
<br/>
    <div class="row">
        <div class="col-md-10">
            <cms-tabs ng-if="!showAnalysis"
                    current-tab="currentTab"
                    home-page-tab-object="tabsLinks"
                    home-page-tab-content-object="tabContents"
                    available-messages="messages"
            ></cms-tabs>

            <div ng-show="currentTab=='articles' && !showAnalysis" ng-include="'views/partials/cmsArticleContent.html'"></div>
            <div ng-show="currentTab=='home page menus' && !showAnalysis" ng-include="'views/partials/cmsMenuContent.html'"></div>
            <div ng-show="currentTab=='messages' && !showAnalysis" ng-include="'views/partials/cmsMessagesContent.html'"></div>
            <div ng-show="currentTab=='information sharing' && !showAnalysis" ng-include="'views/partials/cmsSharingContent.html'"></div>

            <div ng-if="showAnalysis" ng-include="'views/partials/analysis.html'"></div>

        </div>
        <div class="col-md-2">

            <div id="rightsBar" style="height:100%;display: block;" >
                <!-- put right menu directive here -->
                <cms-right-menu
                        message-object="messages"
                        chart-object="charts"
                >
                </cms-right-menu>
            </div>
        </div>
    </div>

</div>
