<app-nav-menus [menus]="menus"></app-nav-menus>
<div style="padding-top: 10px">
  <button class="btn btn-default" *ngIf="!showAddForm&&!showEditForm" title="Add new article" (click)="onCloseAddFormEvent()">
    <i class="fa fa-plus"></i>
    &nbsp;Add New
  </button>

  <app-article-add
    *ngIf="showAddForm"
    [articles]="articles"
    [ckeditorContent]="ckeditorContent"
    [currentSelectedCategory]="currentSelectedCategory"
    [menus]="menus"
    (closeAddFormEvent)="onCloseAddFormEvent($event)"
    [isUpdate]="false"
  ></app-article-add>

  <app-article-update
    *ngIf="showEditForm"
    [articles]="articles"
    [article]="updatedArticle"
    [ckeditorContent]="ckeditorContent"
    [currentSelectedCategory]="currentSelectedCategory"
    [menus]="menus"
    (closeEditFormEvent)="onCloseEditFormEvent($event)"
    [isUpdate]="isUpdate"
  ></app-article-update>
  <br/>
  <br/>
  <div *ngIf="actionLoading" class="alert alert-info" role="alert">
    <img [ngStyle]="{height:'30px'}" src="assets/img/balls-5.svg" alt="">&nbsp; {{actionLoadingMessage}}
  </div>

  <div *ngIf="filteredArticles&&!showAddForm&&!showEditForm">
    <div *ngFor="let article of filteredArticles">
      <app-article-renderer
        [article]="article"
        (updateArticleEvent)="onUpdateArticleEvent($event)"
        (deleteArticleEvent)="onDeleteArticleEvent($event)"
        (toggleHideShowArticleEvent)="onToggleHideShowArticleEvent($event)"
      ></app-article-renderer>
    </div>
  </div>

  <div *ngIf="!actionLoading&&(!filteredArticles||filteredArticles.length==0)&&!showAddForm&&!showEditForm">
    <div class="no-articles-conteiner">
      <p *ngIf="currentSelectedCategory==='all'" style="padding: 70px!important;text-align:center;font-weight:bolder;font-size: 12px;color: #cccccc;" class="ng-binding">NO ARTICLES CURRENTLY</p>
      <p *ngIf="currentSelectedCategory!=='all'" style="padding: 70px!important;text-align:center;font-weight:bolder;font-size: 12px;color: #cccccc;" class="ng-binding">NO ARTICLES FOR  {{currentSelectedCategory|uppercase}}  CURRENTLY</p>
    </div>
  </div>
</div>
