<app-nav-menus [menus]="menus"></app-nav-menus>
<div style="padding-top: 10px">
  <button class="btn btn-default" *ngIf="!showAddForm&&!showEditForm" (click)="onCloseAddFormEvent()">
    <i class="fa fa-plus"></i>
    &nbsp;Add New
  </button>


  <app-article-add
    *ngIf="showAddForm"
    [articles]="articles"
    [ckeditorContent]="ckeditorContent"
    [currentSelectedCategory]="currentSelectedCategory"
    [menus]="menus"
    (closeAddFormEvent)="onCloseAddFormEvent($event)"
    [isUpdate]="false"
  ></app-article-add>

  <app-article-update
    *ngIf="showEditForm"
    [articles]="articles"
    [article]="updatedArticle"
    [ckeditorContent]="ckeditorContent"
    [currentSelectedCategory]="currentSelectedCategory"
    [menus]="menus"
    (closeEditFormEvent)="onCloseEditFormEvent($event)"
    [isUpdate]="isUpdate"
  ></app-article-update>

  <div *ngIf="filteredArticles&&!showAddForm&&!showEditForm">
    <div *ngFor="let article of filteredArticles">
      <app-article-renderer
        [article]="article"
        (updateArticleEvent)="onUpdateArticleEvent($event)"
        (toggleHideShowArticleEvent)="onToggleHideShowArticleEvent($event)"
      ></app-article-renderer>
    </div>
  </div>
  <div *ngIf="!filteredArticles">
    <app-loader [resourceName]="'articles ...'"></app-loader>
  </div>
</div>
