<div class="form-conteiner">
  <form>
    <div class="form-group">
      <label>Create new information</label>
      <hr/>
    </div>
    <div *ngIf="loading" class="alert alert-info" role="alert">
      <img [ngStyle]="{height:'30px'}" src="assets/img/balls-5.svg" alt="">&nbsp; creating information ,please wait...
    </div>
    <div class="form-group">
      <label for="infoTitle">Title</label>
      <input id="infoTitle" [(ngModel)]="title" name="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="contents">Body

      </label>

      <ckeditor
        name="body"
        id="contents"
        [(ngModel)]="ckeditorContent"
        debounce="500">
      </ckeditor>
    </div>
    <button type="submit" class="btn btn-primary" (click)="createInfoSharing({title:title,body:ckeditorContent})">Create
    </button>
    <button type="button" class="btn btn-danger" (click)="toggleAddForm()">Cancel</button>
  </form>
</div>
