<html>
  <head>
    <title>LGDM2 Data Analysis</title>
  </head>

  <body>
    <div class="row" style="margin-top:60px;">
      <div class="col-sm-12">
        <div
          *ngIf="showSelectionError"
          class="alert alert-danger fade in"
          role="alert"
          style="padding: 4px"
        >
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">x</span><span class="sr-only">Close</span>
          </button>
          <strong>Empty Value!</strong> Please select at least one
          Administrative unit, period and data.
        </div>

        <div class="row">
          <div class="col-sm-3" style="padding:0">
            Administrative units <br />
            <div class="row" style="padding:0; margin:0;">
              <div class="btn-group btn-group-xs unitfilter">
                <button
                  type="button"
                  style="font-size: 10px"
                  class="btn btn-default"
                  id="allunits"
                  click="prepareOrgUnitFilter()"
                >
                  all
                </button>
                <button
                  type="button"
                  style="font-size: 10px"
                  class="btn btn-default"
                  id="regions"
                  (click)="selectRegions($event)"
                >
                  Regions
                </button>
                <button
                  type="button"
                  style="font-size: 10px"
                  class="btn btn-default"
                  id="district"
                  (click)="selectDistricts($event)"
                >
                  disticts
                </button>
              </div>
            </div>
            <div class="row" style="padding:0; margin:0;">
              <div class="col-12">
                <button
                  (click)="showOrgUnitSelector = !showOrgUnitSelector"
                  class="btn btn-default dropdown-toggle"
                  style="padding:3px; font-size: 10px"
                  type="button"
                >
                  {{ currentOrgunitsSelections.length }} selected
                  <span class="caret"></span>
                </button>
              </div>
            </div>
            <analysis-dropdown
              *ngIf="showOrgUnitSelector"
              [activeFilter]="'ou'"
              [displayingOrgUnits]="displayingOrgUnits"
              (orgUnitSelection)="onChangedOrgUnit($event)"
            ></analysis-dropdown>
          </div>
          <div class="col-sm-3" style="padding:0">
            Periods
            <div class="row" style="padding:0; margin:0;">
              <div class="btn-group btn-group-xs periodfilter">
                <button
                  type="button"
                  style="font-size: 10px"
                  class="btn btn-default"
                  id="years"
                  (click)="selectYears($event)"
                >
                  Yearly
                </button>
                <button
                  type="button"
                  style="font-size: 10px"
                  class="btn btn-default"
                  id="quarters"
                  (click)="selectQuaters($event)"
                >
                  quarterly
                </button>
                <button
                  type="button"
                  style="font-size: 10px"
                  class="btn btn-default"
                  id="months"
                  (click)="selectMonths($event)"
                >
                  monthly
                </button>
              </div>
            </div>
            <div class="row" style="padding:0; margin:0;">
              <div class="col-12">
                <button
                  (click)="showPeriodSelector = !showPeriodSelector"
                  class="btn btn-default dropdown-toggle"
                  style="padding:3px;font-size: 10px"
                  type="button"
                >
                  {{ currentPeriodSelections.length }} selected
                  <span class="caret"></span>
                </button>
              </div>
            </div>
            <analysis-dropdown
              *ngIf="showPeriodSelector"
              [activeFilter]="'pe'"
              [displayingPeriod]="displayingPeriod"
              (periodSelection)="onChangedPeriod($event)"
            ></analysis-dropdown>
          </div>
          <div class="col-sm-3" style="padding:0">
            Data
            <br />
            <br />
            <div class="row" style="padding:0; margin:0;">
              <div class="col-12">
                <button
                  (click)="showDataSelector = !showDataSelector"
                  class="btn btn-default dropdown-toggle"
                  style="padding:3px; font-size: 10px"
                  type="button"
                >
                  {{ currentDataSelections.length }} selected
                  <span class="caret"></span>
                </button>
              </div>
            </div>
            <ng-container *ngIf="analytics$ | async as analytics"
              ><analysis-dropdown
                *ngIf="showDataSelector"
                [activeFilter]="'dx'"
                [analyticsPayload]="analytics"
                [displayingData]="displayingData"
                (dataSelection)="onChangedData($event)"
              ></analysis-dropdown
            ></ng-container>
          </div>
          <div class="col-sm-3">
            Category<br /><br />
            <select
              name="category"
              class="category"
              id="categoryList"
              [ngModel]="selectedCategory"
              (ngModelChange)="onChangeCategory($event)"
            >
              <option value="pe">period</option>
              <option value="ou">administrative units</option>
            </select>
          </div>
        </div>

        <div class="row" style="margin-top: 15px">
          <div class="btn-group btn-group-xs reports">
            <button
              *ngFor="let reportType of reportTypes"
              class="btn btn-default"
              style="font-size:10px;"
              id="{{ reportType.id }}"
              [ngClass]="{
                'btn-success': reportDisplay.type == reportType.type
              }"
              (click)="toggleReportType(reportType)"
            >
              <img src="{{ reportType.img }}" style="height:20px;width:20px" />
              {{ reportType.name }}
            </button>
          </div>
        </div>

        <div class="row" id="mainarea" style="margin-top: 15px">
          <analysis-item
            #analysisItem
            [reportDisplay]="reportDisplay"
            [analyticsPayload]="analytics$ | async"
            [selectedCategory]="selectedCategory"
            [reportTableContent]="reportTableContent"
            [analysisGroup]="analysisGroup"
          ></analysis-item>
        </div>
        <div class="row" *ngIf="!(analytics$ | async)">
          Loading favorite
        </div>
      </div>
    </div>
  </body>
</html>
