<html>
  <head>
    <title>LGDM2 Data Analysis</title>
  </head>

  <body>
    <div class="row" style="margin-top:60px;">
      <div class="col-sm-12">
        <div
          *ngIf="!reportTableContent"
          class="alert alert-danger fade in"
          role="alert"
          style="padding: 4px"
        >
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">x</span><span class="sr-only">Close</span>
          </button>
          <strong>Empty Value!</strong> Please select at least one
          Administrative unit, period and data.
        </div>

        <div class="row">
          <div class="col-sm-3" style="padding:0">
            Administrative units <br />
            <div class="btn-group btn-group-xs unitfilter">
              <button type="button" class="btn btn-default" id="allunits">
                all
              </button>
              <button type="button" class="btn btn-default" id="regions">
                Regions
              </button>
              <button type="button" class="btn btn-default" id="district">
                disticts
              </button>
            </div>
            <br />
            <select
              name="adminUnit"
              multiple="multiple"
              class="form-control adminUnit"
            >
            </select>
          </div>
          <div class="col-sm-3" style="padding:0">
            Periods <br />
            <div class="btn-group btn-group-xs periodfilter">
              <button
                type="button"
                class="btn btn-default"
                id="years"
                (click)="selectYears($event)"
              >
                Yearly
              </button>
              <button
                type="button"
                class="btn btn-default"
                id="quarters"
                (click)="selectQuaters($event)"
              >
                quarterly
              </button>
              <button
                type="button"
                class="btn btn-default"
                id="months"
                (click)="selectMonths($event)"
              >
                monthly
              </button>
            </div>
            <br />
            <select
              id="periodSelect"
              name="periods"
              multiple="multiple"
              class="periods"
            >
            </select>
          </div>
          <div class="col-sm-3 px-0">
            Data<br /><br />
            <select
              name="data"
              multiple="multiple"
              class="form-control data-element"
            >
            </select>
          </div>
          <div class="col-sm-3">
            Category<br /><br />
            <select
              name="category"
              class="category"
              id="categoryList"
              [ngModel]="selectedCategory"
              (ngModelChange)="onChangeCategory($event)"
            >
              <option value="pe">period</option>
              <option value="ou">administrative units</option>
            </select>
          </div>
        </div>

        <div class="row" style="margin-top: 15px">
          <div class="btn-group btn-group-xs reports">
            <button
              *ngFor="let reportType of reportTypes"
              class="btn btn-default"
              id="{{ reportType.id }}"
              [ngClass]="{
                'btn-success': reportDisplay.type == reportType.type
              }"
              (click)="toggleReportType(reportType)"
            >
              <img src="{{ reportType.img }}" style="height:20px;width:20px" />
              {{ reportType.name }}
            </button>
          </div>
        </div>
        <div class="row" id="mainarea" style="margin-top: 15px">
          <analysis-item
            #analysisItem
            [reportDisplay]="reportDisplay"
            [analyticsPayload]="analytics$ | async"
            [selectedCategory]="selectedCategory"
            [reportTableContent]="reportTableContent"
            [analysisGroup]="analysisGroup"
          ></analysis-item>
        </div>
      </div>
    </div>
  </body>
</html>
