<div style="margin-top: 10px;">
  <button class="btn btn-default" title="Add new menu">
    <i class="fa fa-plus"></i>
    &nbsp;Add New
  </button>

  <app-home-page-menu-list
    *ngIf="!showEditForm&&!showAddForm"
    [menuList]="menuList"
    [actionLoading]="actionLoading"
    [actionError]="actionError"
    [actionLoadingMessage]="actionLoadingMessage"
    (deleteHomeMenuEvent)="onDeleteHomeMenuEvent($event)"
    (editHomeMenuEvent)="onEditHomeMenuEvent($event)"
  ></app-home-page-menu-list>
  <app-home-page-menu-add
    *ngIf="showAddForm">
  </app-home-page-menu-add>
  <app-home-page-menu-update
    *ngIf="showEditForm"
    [menu]="currentModifiedMenu"
    [menuList]="menuList"
    (cancelUpdateEvent)="onCancelUpdateEvent()">
  </app-home-page-menu-update>
</div>
