#sidebar {
  position: fixed;
  left: 0px;
  margin-top: 25px;
  background-color: #f3f3f3;
  border: solid 1px #f3f3f3;
  height: 100%;
}

.scroll {
  height: 100vh !important;
  overflow: scroll;
}

#sidebar-arrow {
  position: fixed;
  margin-top: 40px;
  z-index: 1000;
}

#sidebar-arrow > li > a {
  color: #666666;
  font-size: 12px;
}

.sidebar-menu > li > a {
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 12px;
  color: #000000;
}

.panel-body {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

panel-heading {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
