<div id="sidebar" class="scroll" [ngStyle]="{ width: currentWidth }">
  <div class="row" style="background-color: #f5f5f5">
    <div class="col-12">
      <ul
        class="list-inline pull-right"
        id="sidebar-arrow"
        [ngStyle]="{ left: getArrowLeftWidth(currentWidth) }"
      >
        <li>
          <a (click)="resize('minimize')" *ngIf="!isMinSize"
            ><i class="fa fa-arrow-left"></i
          ></a>
        </li>
        <li>
          <a (click)="resize('expand')" *ngIf="!isMaxSize"
            ><i class="fa fa-arrow-right"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <br />
  <br />
  <div class="row" *ngIf="!hideMenu">
    <div class="col" style="background-color: white">
      <div>
        <div class="panel-group" style="margin-top: 20px;">
          <div
            class="panel-heading"
            (click)="onTogglePanel('dataAnalysis', $event)"
          >
            Data Analysis
          </div>
          <div class="panel-body" [hidden]="!(currentPanel == 'dataAnalysis')">
            <app-report-tables></app-report-tables>
          </div>
        </div>
        <div class="panel-group">
          <div
            class="panel-heading"
            (click)="onTogglePanel('documents', $event)"
          >
            Documents
          </div>
          <div class="panel-body" [hidden]="!(currentPanel == 'documents')">
            <app-documents></app-documents>
          </div>
        </div>
        <div class="panel-group" style="margin-bottom: 20px;">
          <div class="panel-heading" (click)="onTogglePanel('links', $event)">
            Links
          </div>
          <div class="panel-body" [hidden]="!(currentPanel == 'links')">
            <app-links></app-links>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
