<div>
<ul class="nav nav-tabs" role="tablist">

    <li role="presentation" class="{{activeClass[tab.id]}}" ng-repeat="tab in tabsLinks">
        <a style="font-family: LiberationSans, arial, sans-serif!important;line-height: 140%!important;cursor: pointer;color:#000000;" ng-href="#/cms/{{tab.name|lowercase}}" aria-controls="articles" ng-if="tab.name!='Articles'" role="tab" data-toggle="tab" ng-click="clickTab(tab.name)">
            <span ng-bind-html="tab.icon"></span>
            &nbsp; {{tab.name}}
        </a>
        <a style="font-family: LiberationSans, arial, sans-serif!important;line-height: 140%!important;cursor: pointer;color:#000000;" ng-href="#/cms/{{tab.name|lowercase}}/sub/all" aria-controls="articles" ng-if="tab.name=='Articles'" role="tab" data-toggle="tab" ng-click="clickTab(tab.name)">
            <span ng-bind-html="tab.icon"></span>
            &nbsp; {{tab.name}}
        </a>
    </li>
</ul>
</div>