<div class="row" id="leftbarcontents" style="padding-right: 0px;padding-left: 0px;padding-bottom: 100px">
    <div id="left-Menu">

        <accordion close-others="oneAtATime">
            <accordion-group heading="Data Analysis" is-open="openTab['analysis']" panel-class="panel-success" ng-click="openAccordion('analysis','')">
                <span ng-if="!reportTables" style="padding-left:10px; ">
                    <i class="fa fa-spin fa-spinner" ></i>
                </span>
                <accordion-group heading="{{tables.name}}" is-open="openChildTab[tables.name]" ng-repeat="tables in reportTables" ng-click="openAccordion('analysis',tables.name)">

                    <ul class="nav nav-pills nav-stacked">

                        <li ng-repeat="tableItem in tables.values" style="padding: 0px 4px;font-size:12px;" class="menuitem {{statusClass[tableItem.id]}} listmenu" allstring="{{tableItem.displayName}}">
                            <a style="padding-left: 0px; padding-right: 0px" href="#/{{'analysis'}}/menu/{{tables.name}}/favourite/{{tableItem.id}}/period/{{tableItem.period}}/orgunit/{{tableItem.orgUnit}}/dx/{{tableItem.dx}}" id="{{tableItem.id}}" class="text-success">
                                {{tableItem.shortName}}
                                <i class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>
                    </ul>
                </accordion-group>
            </accordion-group>
            <accordion-group heading="Documents" >
                <table class="table cms_document">
                    <tbody>
                    <tr>
                        <td>
                            <a title="View Document(Download)" style="padding: 0px 4px;font-size:12px;" target="_blank" href="http://ards.go.tz/api/documents/DrBQahJ6prB/data" class="text-success">
                                <span class="fa fa-globe"></span>&nbsp;&nbsp;ASLMs Data Collection Format</a>
                        </td>
                        <td style="width:20px;">
                            <a href="#" class="hide_document" id="document_hides,64">
                                <i style="color:orange" title="Hide Document " class="fa fa-minus pull-right"></i>
                            </a>
                            <a class="delete_document" href="#" id="deleteDocument_64">
                                <i style="color:red;" title="Delete Document" class="fa fa-trash-o pull-right"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                   <a class="btn btn-sm btn-default form-control" id="hidden_docs">Hidden Documents</a>

                <form id="documentForm" ng-submit="uploadFile('inputFile',document)" method="post" enctype="multipart/form-data"  class="inputForm" style="font-size: 12px;">

                    <div class="form-group">
                        <label for="document_name">Document Name <em title="Required" class="required">*</em></label>
                        <input type="text" id="document_name" style="width:100% !important;" ng-model="document.name" value="" class="{validate:{required:true,minlength:2,maxlength:160}} form-control" required="required">
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="inputFile">File <em title="Required" class="required">*</em></label>-->
                        <!--<input type="file"  id="inputFile" class="form-control" file-model="file" required="required">-->
                    <!--</div>-->
                    <div class="form-group">
                        <div class="button" ngf-select ng-model="document.file" name="file" >

                            <p ng-if="!document.file" >
                                <a href="#" style="color:#000000;"><i class="fa fa-upload "></i> Click to upload a file</a>
                            </p>
                            <p ng-if="document.file" >
                                <a href="#" ><i class="fa fa-file-pdf-o "></i> Click to change  file</a>
                            </p>
                        </div>
                    </div>
                    <input type="submit" value="Upload Document"  class="btn btn-success btn-sm form-control">

                </form>

            </accordion-group>
            <accordion-group heading="Links">
                <table>
                    <tbody style="font-size:12px!important;">
                    <tr ng-repeat="external in externalLinks track by $index" >
                        <td>

                            <a title="View Document(Download)" target="_blank" href="{{external.url}}" class="text-success">
                                <span class="fa fa-globe"></span>&nbsp;&nbsp;{{external.name}}
                            </a>
                        </td>
                        <td style="width: 50px;text-align: right;" >

                            <a ng-click="hideExternal($index)" ng-if="!external.hidden"><i style="color:orange" title="Hide External link " class="fa fa-minus "></i></a>
                            <a ng-click="showExternal($index)" ng-if="external.hidden"><i style="color:orange" title="Show External link" class="fa fa-plus "></i></a>
                            <a ng-click="deleteExternal($index)"><i style="color:red;" title="Delete Document" class="fa fa-trash-o "></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <a ng-click="addLinksForm(linksForm)" class="btn btn-default btn-sm form-control" style="font-size: 12px!important;">
                    New Link Form <i class="pull-right glyphicon ng-scope glyphicon-chevron-right" ng-hide="linksForm"></i><i class="pull-right glyphicon ng-scope glyphicon-chevron-down" ng-show="linksForm"></i>
                </a>

                <form id="linkForm" style="font-size: 12px!important;" enctype="multipart/form-data" ng-if="linksForm" class="inputForm" ng-submit="addExternalLinks(externalLink)">
                    <input type="hidden" id="id" name="id" value="">

                    <div class="form-group">
                        <label for="link_name">Link Name <em title="Required" class="required">*</em></label>
                        <input type="text" id="link_name" ng-model="externalLink.name" style="width:100% !important;" name="name" value="" class="{validate:{required:true,minlength:2,maxlength:160}} form-control" required="required">
                    </div>
                    <div class="form-group">
                        <label for="url">Link Url <em title="Required" class="required">*</em></label>
                        <input type="text" id="url" ng-model="externalLink.url" style="width:100% !important;"  class="{validate:{required:true}} form-control" required="required">
                    </div>
                    <input type="submit" value="Add External Link" class="btn btn-success btn-sm form-control">

                </form>


            </accordion-group>
        </accordion>


</div>
</div>