<div class="row" id="leftbarcontents" style="padding-right: 0px;padding-left: 0px;padding-bottom: 100px">
    <div id="left-Menu">

        <accordion close-others="oneAtATime">
            <accordion-group class = "bold-accordion-group-header" heading="Data Analysis" is-open="openTab['analysis']" is-disabled="status.isFirstDisabled">
                <span ng-if="!reportTables" style="padding-left:10px; ">
                    <i class="fa fa-spin fa-spinner" ></i>
                </span>
                <accordion close-others="oneAtATime">
                    <accordion-group class = "normal-accordion-group-header" heading="{{tables.name}}" is-open="$root.openChildTab[tables.name]" ng-repeat="tables in reportTables">
                        <ul class="nav nav-pills nav-stacked">

                            <li ng-repeat="tableItem in tables.values" style="padding: 0px;font-size:13px;" class="menuitem {{statusClass[tableItem.id]}} listmenu" allstring="{{tableItem.displayName}}">
                                <a style="padding-right: 0px;padding-top: 5px" href="#/{{'analysis'}}/menu/{{tables.name}}/favourite/{{tableItem.id}}/period/{{tableItem.period}}/orgunit/{{tableItem.orgUnit}}/dx/{{tableItem.dx}}/type/{{'table'}}/category/{{tableItem.filter}}" id="{{tableItem.id}}" class="text-success">
                                    {{tableItem.displayName}}
                                    <i class="fa fa-chevron-right pull-right"></i>
                                </a>
                            </li>
                        </ul>
                    </accordion-group>

                </accordion>
            </accordion-group>
            <accordion-group class = "bold-accordion-group-header" heading="Documents" >

                <div style="padding:20px!important;">
                    <table class="table cms_document">
                        <tbody>
                        <tr ng-repeat="document in shownDocuments">
                            <td>
                                <a title="View Document(Download)" style="padding: 0px 4px;font-size:12px;" target="_blank" href="/api/documents/{{document.id}}/data" class="text-success">
                                    <span class="fa fa-globe">{{document.displayName}}</span>&nbsp;&nbsp;</a>
                            </td>
                            <td style="width:20px;">
                                <a href="#" class="hide_document" id="hide_{{document.id}}">
                                    <i style="color:orange" title="Hide Document " class="fa fa-minus pull-right"></i>
                                </a>
                                <a class="delete_document" href="#" id="delete_{{document.id}}">
                                    <i style="color:red;" title="Delete Document" class="fa fa-trash-o pull-right"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-sm btn-default form-control" id="hidden_docs">Hidden Documents</a>

                    <form id="documentForm" ng-submit="uploadFile('inputFile',document)" method="post" enctype="multipart/form-data"  class="inputForm" style="font-size: 12px;">

                        <div class="form-group">
                            <label for="document_name">Document Name <em title="Required" class="required">*</em></label>
                            <input type="text" id="document_name" style="width:100% !important;" ng-model="document.name" value="" class="{validate:{required:true,minlength:2,maxlength:160}} form-control" required="required">
                        </div>
                        <!--<div class="form-group">-->
                        <!--<label for="inputFile">File <em title="Required" class="required">*</em></label>-->
                        <!--<input type="file"  id="inputFile" class="form-control" file-model="file" required="required">-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="button" ngf-select ng-model="document.file" name="file" >

                                <p ng-if="!document.file" >
                                    <a href="#" style="color:#000000;"><i class="fa fa-upload "></i> Click to upload a file</a>
                                </p>
                                <p ng-if="document.file" >
                                    <a href="#" ><i class="fa fa-file-pdf-o "></i> Click to change  file</a>
                                </p>
                            </div>
                        </div>
                        <input type="submit" value="Upload Document"  class="btn btn-success btn-sm form-control">

                    </form>
                </div>

            </accordion-group>
            <accordion-group class = "bold-accordion-group-header" heading="Links">
                <table>
                    <tbody style="font-size:12px!important;">
                    <tr ng-repeat="external in externalLinks track by $index" >
                        <td>

                            <a title="View Document(Download)" target="_blank" href="{{external.url}}" class="text-success">
                                <span class="fa fa-globe"></span>&nbsp;&nbsp;{{external.name}}
                            </a>
                        </td>
                        <td style="width: 50px;text-align: right;" >

                            <a ng-click="hideExternal($index)" ng-if="!external.hidden"><i style="color:orange" title="Hide External link " class="fa fa-minus "></i></a>
                            <a ng-click="showExternal($index)" ng-if="external.hidden"><i style="color:orange" title="Show External link" class="fa fa-plus "></i></a>
                            <a ng-click="deleteExternal($index)"><i style="color:red;" title="Delete Document" class="fa fa-trash-o "></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <a ng-click="addLinksForm(linksForm)" class="btn btn-default btn-sm form-control" style="font-size: 12px!important;">
                    New Link Form <i class="pull-right glyphicon ng-scope glyphicon-chevron-right" ng-hide="linksForm"></i><i class="pull-right glyphicon ng-scope glyphicon-chevron-down" ng-show="linksForm"></i>
                </a>

                <form id="linkForm" style="font-size: 12px!important;" enctype="multipart/form-data" ng-if="linksForm" class="inputForm" ng-submit="addExternalLinks(externalLink)">
                    <input type="hidden" id="id" name="id" value="">

                    <div class="form-group">
                        <label for="link_name">Link Name <em title="Required" class="required">*</em></label>
                        <input type="text" id="link_name" ng-model="externalLink.name" style="width:100% !important;" name="name" value="" class="{validate:{required:true,minlength:2,maxlength:160}} form-control" required="required">
                    </div>
                    <div class="form-group">
                        <label for="url">Link Url <em title="Required" class="required">*</em></label>
                        <input type="text" id="url" ng-model="externalLink.url" style="width:100% !important;"  class="{validate:{required:true}} form-control" required="required">
                    </div>
                    <input type="submit" value="Add External Link" class="btn btn-success btn-sm form-control">

                </form>


            </accordion-group>
        </accordion>


</div>
</div>