<div style="margin-top: 45px">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" routerLinkActive="active" >
      <a routerLink="/articles/all" >
        <span ><i class="fa fa-file-text-o"></i></span>
        &nbsp; Articles
      </a>
    </li>
    <li role="presentation"  routerLinkActive="active">
      <a routerLink="/home-page-menus" >
        <span ><i class="fa fa-file-text-o"></i></span>
        &nbsp; Home Page Menus
      </a>
    </li>
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/messages" >
        <span ><i class="fa fa-file-text-o"></i></span>
        &nbsp; Messages
      </a>
    </li>
    <li role="presentation"  routerLinkActive="active">
      <a routerLink="/information-sharing" >
        <span ><i class="fa fa-file-text-o"></i></span>
        &nbsp; Information Sharing
      </a>
    </li>
  </ul>
</div>
