<div class="row">
    <br/>
    <div class="col-md-12">
        <div ng-if="!tabsLinks||tabsLinks.length<=0" class="alert alert-warning">
            No home page menus available
        </div>
        <table class="table table-bordered table-responsive table-condenced" ng-show="tabsLinks.length>0">
            <thead>
            <tr>
                <th>Menu</th>
                <th style="width:100px;">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="menu in tabsLinks track by $index">
                <td>
                    <span ng-if="editingItem!=$index">{{menu}}</span>
                    <input ng-if="editingItem==$index" type="text" ng-model="menuItems[$index]" value="{{menu}}"  class="form-control" >

                </td>
                <td>
                    <div class="btn-group  pull-right">
                        <a class="btn btn-default btn-sm " ng-if="editingItem!=$index" ng-click="editMenuItem($index)" title="Edit" style="cursor:pointer;color:orange;">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-default btn-sm " ng-if="editingItem==$index" ng-click="updateMenu($index)" title="Edit" style="cursor:pointer;color:green;">
                            <i class="fa fa-save"></i>
                        </a>
                        <a class="btn btn-default btn-sm " ng-click="deleteMenu($index)" title="Delete" style="color:red;">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <p ng-show="tabsLinks.length==0" class="alert alert-info alert-dismissable">No Menus, click button above to add new
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </p>
    </div>
    <br/>
    <div class="col-md-12">
        <form ng-submit="saveMenu(add_menu_name)" >
            <div class="form-group">
                <label for="menu_name">Menu Name</label>
                <input type="text" class="form-control" id="menu_name" ng-model="add_menu_name"  placeholder="Menu Name" required="required">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a type="button" ng-click="cancelEditAdd()" class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>