<div class="row">
    <br/>
    <div class="col-md-12">

        <table class="table table-bordered table-responsive table-condenced" ng-show="messages.length>0">
            <thead>
            <tr>
                <th>Message Head</th>
                <th>Message Body</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="message in messages">
                <td>{{message.title}}</td>
                <td><div ng-bind-html="message.body"></div></td>
                <td>
                    <div class="btn-group  pull-right">
                        <a class="btn btn-default btn-sm " href="#/messages/action/{{'edit'}}/{{message.id}}" title="Edit" style="color:orange;">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-default btn-sm " ng-show="!message.hidden" ng-click="hideMessage(message)" title="Hide">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a class="btn btn-default btn-sm " ng-show="message.hidden" ng-click="hideMessage(message)" title="Show">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a class="btn btn-default btn-sm " ng-click="deleteMessage(message)" title="Delete" style="color:red;">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <p ng-show="messages.length==0" class="alert alert-info alert-dismissable">No broadcast Messages, click button above to add new
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </p>
    </div>
</div>